.main-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  overflow: hidden;
  &.show-sidebar {
    .sidebar {
      margin-left: 0 !important;
    }

    .page-content {
      margin-right: -200px;
    }
  }
}

.main-header {
  box-shadow: 1px 1px 1px #eee;
  background: #fff;
}
